.ieimg{-ms-interpolation-mode: bicubic; 
image-rendering: optimizeQuality;
}

.mltable{
	border-collapse:collapse;
	border: 0px;
	width:100%;	
}

.mlvf{
	width: 120px;
}
td.mlimg{
	vertical-align:top;
	width: 120px;
}
/* pulsante */
table.pulsante {margin: auto; -moz-background-size:contain;background-size:contain;
	border-collapse: collapse; border: 0px solid #7A8A99; cursor: pointer;}
td.pulsante {border: 0px solid #7A8A99;padding:0px}
table.bdpul{width:100%;height:100%;border-collapse:collapse;border:transparent;font-family: Helvetica,verdana,kalimati; font-weight: normal; text-align: center; vertical-align: middle; color: navy;}

table.pulsante2 {margin: auto; background-color: #d0d0d0; border-collapse: collapse; border: 0px solid #8CBCA1; cursor: pointer;}
td.pulsante2 {font-family: Helvetica; font-weight: bold; text-align: center; vertical-align: middle; color: navy; }

